{% extends "base.html" %}
{% block content %}
<section class="page-section">
    <h2>My Projects</h2>
    <div class="projects-grid">
        <div class="project-card">
            <h3><a href="https://alice-in-borderland-king-of-diamonds-game-of-averages.streamlit.app/" target="_blank">King of Diamonds</a></h3>
            <p>A strategic, interactive game inspired by Alice in Borderland where players predict the average of selected numbers to earn points and test their logical thinking.</p>
        </div>
        <div class="project-card">
            <h3><a href="https://github.com/pratheekp1904/lost_and_found/" target="_blank">Lost and Found Website</a></h3>
            <p>A web-based Lost and Found system for college campuses, built with DevOps practices for automated deployment, continuous integration, and real-time item tracking.</p>
        </div>
        <div class="project-card">
            <h3><a href="https://huggingface.co/spaces/pratheekp18/genai_avatar" target="_blank">AI Avatar Generator</a></h3>
            <p>Built with Stable Diffusion and Streamlit, generates avatars from text/image input.</p>
        </div>
        <div class="project-card">
            <h3><a href="https://image-captioning-transformers.streamlit.app/" target="_blank">Image Captioning System</a></h3>
            <p>A Transformer-based system that generates descriptive captions for images.</p>
        </div>
        <div class="project-card">
            <h3><a href="https://github.com/pratheekp1904/Jenkins-Sonarqube-Docker-ECR_EKS/" target="_blank">CI/CD Pipelining with Jenkins, Docker, Kubernetes and AWS</a></h3>
            <p>A complete CI/CD pipeline project using AWS, Jenkins, Docker, and Kubernetes to automate code integration, quality checks, containerization, and deployment of a static web application.</p>
        </div>
        <div class="project-card">
            <h3><a href="https://pdf-merger-app.streamlit.app/" target="_blank">PDF Merger</a></h3>
            <p>A simple and secure web application that allows users to merge multiple PDF files into one, built using Streamlit and PyPDF2.</p>
        </div>
        <div class="project-card">
            <h3><a href="https://password-leak-checker.streamlit.app/" target="_blank">Password Leak Checker</a></h3>
            <p>A web app that checks if your password has been exposed in data breaches, using the Have I Been Pwned API and built with Streamlit.</p>
        </div>
        <div class="project-card">
            <h3>Cab Booking System</h3>
            <p>Java-SQL integrated cab booking system with JavaSwing for GUI</p>
        </div>
        <div class="project-card">
            <h3><a href="https://github.com/pratheekp1904/Smart-Parking-System-using-IOT/" target="_blank">Smart Parking System</a></h3>
            <p>A smart parking system using sensors and actuators along with the real-time integration with Blynk app</p>
        </div>
    </div>
</section>
{% endblock %}
